<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<div class="container">
<h1>Terry Lage</h1>
<p>Budding Rails web developer | Blockchain and Fintech junky | Building software with friends at <a href="https://www.linkedin.com/company/felsburg-holt-&-ullevig" target="blank">Felsburg Holt & Ullevig</a> in Lincoln, Nebraska</p>
<p>Bacon ipsum dolor amet filet mignon spare ribs chicken leberkas biltong short ribs. Prosciutto tongue short ribs, picanha pastrami brisket pork chop. Tri-tip sirloin biltong pork belly picanha. Ball tip tail pig strip steak flank kielbasa, chicken meatloaf landjaeger fatback tri-tip drumstick beef ribs. Hamburger t-bone brisket, prosciutto andouille salami chuck sausage pork chop pork belly pastrami swine. Pork loin capicola boudin kielbasa, strip steak pig sirloin shoulder filet mignon. Brisket pancetta spare ribs short ribs.
Jerky ham pancetta, brisket venison tri-tip filet mignon shankle doner. Porchetta landjaeger sausage pastrami brisket pig, kielbasa ground round short ribs pork belly jowl kevin picanha pork chop prosciutto. Cupim picanha pastrami kevin. Ham hock kielbasa flank, tail sirloin beef ribs turducken. Ham bacon spare ribs, tongue drumstick meatloaf porchetta ground round boudin short ribs turkey frankfurter meatball.
</p>
<a href="https://twitter.com/TerryLage" target="blank"><i class="fa fa-twitter fa-2x"></i></a> <a href="https://www.facebook.com/terry.lage" target="blank"><i class="fa fa-facebook fa-2x"></i></a> <a href="https://www.linkedin.com/in/terrencelage" target="blank"><i class="fa fa-linkedin fa-2x"></i></a>
</div>